# -*- sieve -*-
# !!! AUTOMATICALY GENERATED !!!
#
# by [% prog %] on [% date %]
#       target email: [% DN.split(',').0.split('=').1 %]
# user homeDirectory: [% homeDirectory %]
#    assigned to uid: [% uid %]
[% IF descr -%]
#
#        description: [% descr.replace('\n', '; ') %]
#
[% END -%]
#

[% mu_sieveOnReceive %]

# End of script
